# IDE
.idea/

# Pycache
__pycache__/
notebooks/__pycache__

# Venv
venv/

# Jupyter
.ipynb_checkpoints
notebooks/.ipynb_checkpoints
dew/.ipynb_checkpoints
fogsmog/.ipynb_checkpoints
frost/.ipynb_checkpoints
glaze/.ipynb_checkpoints
hail/.ipynb_checkpoints
lightning/.ipynb_checkpoints
rain/.ipynb_checkpoints
rainbow/.ipynb_checkpoints
rime/.ipynb_checkpoints
sandstorm/.ipynb_checkpoints
snow/.ipynb_checkpoints
